.array-element {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #00B74A;
  width: 1.5em;
  transition: background-color .15s;
  font-weight: bold;
}

.array-element.comparing {
  background: #FFA540;
}

.array-element.swap {
  background: #3BA3D0;
}

.array-element.sorted {
  background: #37DB79;
}

.array-element.focused {
  background: #033b1b;
}

